# Xcode
.DS_Store
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
project.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
*.xccheckout

Pods/
scripts/build/
scripts/built/
scripts/tor-0.2.9.8
scripts/openssl-1.0.2h
scripts/libevent-2.0.22-stable
scripts/output
